
@{
    ViewBag.Title = "Edit";
}

<h2>Editare comentariu</h2>
<form method="post" action="/Comments/Edit/@ViewBag.Comment.CommentId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label>Continut comentariu</label>
    <br />
    <textarea name="Content">@ViewBag.Comment.Content</textarea>
    <br />
    <label for="rating">Rating produs(intre 1 si 5):</label>
    <br />
    <input type="number" id="rating" name="Rating" min="1" max="5">
    <br /> <br />
    <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-eidt"></i> &nbsp;Editeaza comentariu</button>
</form>

