@{
    ViewBag.Title = "Despre Noi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Aplicatie creata de <a href="https://darius.buhai.ro">Darius Buhai</a> in colaborare cu Darius Atudore George.
    Toate drepturile rezervate.
</p>
