@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Magazin Online</h1>
    <p class="lead">Magazin Online de Haine si Accesorii Vestimentare</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Despre noi &raquo;</a></p>
</div>