
@{
    ViewBag.Title = "Lista categorii";
}

@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

<h2>@ViewBag.Title</h2>
<hr />
@foreach (var category in ViewBag.Categories)
{
    <strong><i class="glyphicon glyphicon-globe"></i>&nbsp; @category.CategoryName</strong>
    <br />
    <br />
    <form method="post" action="/Categories/Delete/@category.CategoryId">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-danger btn-sm" type="submit"><i class="glyphicon glyphicon-trash"></i>&nbsp; Stergere</button>
        &nbsp;<a class="btn btn-success btn-sm" href="/Categories/Edit/@category.CategoryId"><i class="glyphicon glyphicon-edit"></i>&nbsp; Editare</a>
    </form>

    <hr />
    <br />
}
<br />
<a class="btn btn-success" href="/Categories/New"><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Adauga categorie</a>
<a class="btn btn-primary" href="/Products/Index"><i class="glyphicon glyphicon-list"></i> &nbsp;Lista produse</a>
<br />

