
@{
    ViewBag.Title = "Adaugare Categorie";
}

<section class="bg-light py-10">
    <div class="container">
        <h2>Adaugare Categorie</h2>
        <hr /><br />
        <form method="post" action="/Categories/New">

            @Html.Label("CategoryName", "Denumire categorie")
            <br />

            @Html.TextBox("CategoryName", null, new { @class = "form-control" })
            <br /><br />

            <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-plus-sign"></i> &nbsp;Adauga categorie</button>
        </form>
    </div>
</section>

