@model ProiectDAW.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}

<section class="bg-light py-10">
    <div class="container">
        <h2>@ViewBag.Title</h2>

        <p>@Model.CategoryName</p>

        <form method="post" action="/Categories/Delete/@Model.CategoryId">

            @Html.HttpMethodOverride(HttpVerbs.Delete)

            <button class="btn btn-danger" type="submit">Sterge categoria</button>

        </form>
        <br />
        <a class="btn btn-success" href="/Categories/Index/">Afisare lista categorii</a>

        <br />
        <hr />
        <br />
    </div>
</section>

