
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@foreach (var product in ViewBag.Products)
{
    <div class="panel panel-default">
        <div class="panel-heading">@product.Title</div>

        <div class="panel-body">
            <p class="pull-left">@product.Description</p>
            <br />
        </div>

        <div class="panel-footer">
            <a class="btn btn-primary btn-sm" href="/Products/Show/@product.ProductId">View</a>
            <a class="btn btn-success btn-sm" href="/Products/Edit/@product.ProductId">Editare</a>
            <form class="pull-right" method="post" action="/Products/Delete/@product.ProductId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button type="submit" class="btn btn-danger btn-sm">Sterge produs</button>
            </form>
        </div>
    </div>
}
<br /><hr />
<a class="btn btn-primary" href="/Products/New">Create Product</a>
